@use '../constants/colors' as *;

.layout {
  margin: 30px 100px;
}

.search-results-container {
  background-color: $white;
  border-radius: 4px;
}

.breadcrumbs-container {
  color: $primary-gray;
  margin: 10px 0;
}
