@use '../constants/colors' as *;
@use '../constants/_breakpoints.scss' as *;
@use '../mixins/_media-queries.scss';

.layout {
  margin: 30px 100px;
}

.search-results-container {
  background-color: $white;
  border-radius: 4px;
}

.breadcrumbs-container {
  color: $primary-gray;
  margin: 10px;
}
.mantine-Breadcrumbs-root {
  flex-wrap: wrap;
}
